.signature {
    position: fixed;
    top: 15px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    z-index: 999;
  }
  .signature:focus, .signature:hover {
    color: #fff;
  }
  .signature:hover {
    background: #343a40;
  }
  
  .nav-right{
    right:15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  
  .nav-left{
    left:15px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
  }